<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- CSS only -->
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	crossorigin="anonymous">
</head>
<body>
	<h1>Hola mundo desde Spring !</h1>

	<a th:href="@{/crearLibro}">Crear Libro</a>

	<div class="container"></div>
	<table border="1" class="table">
		<thead>
			<tr>
				<th>id</th>
				<th>Titulo</th>
				<th>Autor</th>
				<th>Año</th>
				<th>isbn</th>
				<th>Cantidad de páginas</th>
				<th>Categoria</th>
				<th>Acción</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${libroLista != null}" th:each="libro: ${libroLista}">
				<td th:text="${libro.id}"></td>
				<td th:text="${libro.titulo}"></td>
				<td th:text="${libro.autor.nombre}"></td>
				<td th:text="${libro.anno}"></td>
				<td th:text="${libro.isbn}"></td>
				<td th:text="${libro.numeroPaginas}"></td>
				<td th:text="${libro.categoria.descripcion}"></td>
				<td>
				<a th:href="@{/eliminar/} + ${libro.id}"> Eliminar </a> <a
					th:href="@{/editar/} + ${libro.id}  "> Editar </a></td>
			</tr>
		</tbody>

	</table>

</body>
</html>